luminosity 41530
output output.root
style cms

allData.root          Data.root

# TTbar
TTTo2L2Nu.root     			t#bar{t}.root    88.29   1.00   bg
TTToHadronic.root  			t#bar{t}.root   377.96	 1.00	bg
TTToSemiLeptonic.root		t#bar{t}.root	365.34	 1.00	bg

# Single top
ST_s-channel_4f_leptonDecays.root		  		 SingleTop.root     3.68    1.00   bg
ST_t-channel_antitop_4f_InclusiveDecays.root     SingleTop.root    80.95    1.00   bg
ST_t-channel_top_4f_InclusiveDecays.root         SingleTop.root   136.02    1.00   bg
ST_tW_antitop_5f_inclusiveDecays.root            SingleTop.root    38.06    1.00   bg
ST_tW_top_5f_inclusiveDecays.root                SingleTop.root    38.06    1.00   bg

# Z+jets
# Inclusive samples
DYJetsToLL_M-10to50.root	DY+Jets.root   18610.0		 1.00		bg # NNLO
DYJetsToLL_M-50.root		DY+Jets.root	6025.2       1.00		bg # NLO

# DY+Jets M-4To50 
DYJetsToLL_M-4to50_HT-100to200.root            DY+Jets.root     224.2        1.00     bg # LO
DYJetsToLL_M-4to50_HT-200to400.root            DY+Jets.root      37.2        1.00     bg # LO
DYJetsToLL_M-4to50_HT-400to600.root            DY+Jets.root      3.581       1.00     bg # LO
DYJetsToLL_M-4to50_HT-600toInf.root            DY+Jets.root      1.124       1.00     bg # LO

# DY+Jets M-50
DYJetsToLL_M-50_HT-100to200.root        DY+Jets.root     213.4		1.00     bg
DYJetsToLL_M-50_HT-200to400.root        DY+Jets.root     65.42		1.00     bg
DYJetsToLL_M-50_HT-400to600.root        DY+Jets.root      7.31		1.00     bg
DYJetsToLL_M-50_HT-600to800.root        DY+Jets.root      1.49		1.00     bg
DYJetsToLL_M-50_HT-800to1200.root       DY+Jets.root      0.661		1.00     bg
DYJetsToLL_M-50_HT-1200to2500.root      DY+Jets.root      0.119		1.00     bg
DYJetsToLL_M-50_HT-2500toInf.root       DY+Jets.root      0.0028	1.00     bg

# Diboson
ZZTo2L2Nu.root								VV.root		 0.5644  	1.00	bg
ZZTo2L2Q.root								VV.root		 3.688		1.00	bg
ZZTo2Q2Nu.root								VV.root		 4.561		1.00	bg
ZZTo4L.root									VV.root		 1.325		1.00	bg

WZTo1L1Nu2Q.root							VV.root		11.66		1.00	bg
WZTo1L3Nu.root								VV.root		 3.3		1.00	bg
WZTo2L2Q.root								VV.root		 6.331		1.00	bg
WZTo3LNu.root								VV.root		 4.658		1.00 	bg

WWTo2L2Nu_NNPDF31.root     					VV.root     11.08		1.00	bg
WWTo4Q_NNPDF31.root							VV.root		47.73		1.00	bg
WWToLNuQQ_NNPDF31.root						VV.root		45.99		1.00	bg
WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root		VV.root		2.24		1.00	bg
WpWpJJ_QCD.root								VV.root		0.02221		1.00	bg

# W+Jets
# Inclusive
WJetsToLNu.root            W+Jets.root     61334.90       1.00     bg	# NLO
# HT-binned
WJetsToLNu_HT-100To200.root			W+Jets.root      1695.0			1.00      bg
WJetsToLNu_HT-200To400.root			W+Jets.root       532.4			1.00      bg
WJetsToLNu_HT-400To600.root			W+Jets.root        61.6         1.00      bg
WJetsToLNu_HT-600To800.root			W+Jets.root        12.4         1.00      bg
WJetsToLNu_HT-800To1200.root		W+Jets.root         5.77        1.00      bg
WJetsToLNu_HT-1200To2500.root		W+Jets.root         1.023       1.00      bg
WJetsToLNu_HT-2500ToInf.root		W+Jets.root         0.0248		1.00      bg

# QCD - HT binned
QCD_HT50to100.root			QCD.root   246300000.0		1.00	bg
QCD_HT100to200.root 		QCD.root 	27990000.0		1.00	bg
QCD_HT200to300.root 		QCD.root 	 1559000.0		1.00	bg
QCD_HT300to500.root 		QCD.root 	  351900.0		1.00	bg
QCD_HT500to700.root 		QCD.root 	   29070.0		1.00	bg
QCD_HT700to1000.root 		QCD.root 	    5962.0		1.00	bg
QCD_HT1000to1500.root 		QCD.root 	    1005.0		1.00	bg
QCD_HT1500to2000.root 		QCD.root 	     101.8		1.00	bg
QCD_HT2000toInf.root		QCD.root	      20.54		1.00	bg

# QCD - muon enriched
QCD_Pt-15to20_MuEnrichedPt5.root 		QCD.root 	3819570.0	1.00	bg
QCD_Pt-20to30_MuEnrichedPt5.root 		QCD.root 	2960198.4	1.00	bg
QCD_Pt-30to50_MuEnrichedPt5.root 		QCD.root 	1652471.5	1.00	bg
QCD_Pt-50to80_MuEnrichedPt5.root 		QCD.root 	 437504.5	1.00	bg
QCD_Pt-80to120_MuEnrichedPt5.root 		QCD.root 	 106033.7	1.00	bg
QCD_Pt-120to170_MuEnrichedPt5.root 		QCD.root 	  25190.5	1.00	bg
QCD_Pt-170to300_MuEnrichedPt5.root 		QCD.root 	   8654.5	1.00	bg
QCD_Pt-300to470_MuEnrichedPt5.root		QCD.root	    797.4	1.00	bg
QCD_Pt-470to600_MuEnrichedPt5.root 		QCD.root 	     79.0	1.00	bg
QCD_Pt-600to800_MuEnrichedPt5.root 		QCD.root 	     25.1	1.00	bg
QCD_Pt-800to1000_MuEnrichedPt5.root		QCD.root	      4.7	1.00	bg
QCD_Pt-1000toInf_MuEnrichedPt5.root		QCD.root	      1.6	1.00	bg

# QCD - EM enriched
QCD_Pt-15to20_EMEnriched.root 		QCD.root 	1327000.0	1.00	bg # from XSDB
QCD_Pt-20to30_EMEnriched.root 		QCD.root 	5352960.0	1.00	bg
QCD_Pt-30to50_EMEnriched.root 		QCD.root 	9928000.0	1.00	bg
QCD_Pt-50to80_EMEnriched.root 		QCD.root 	2890800.0 	1.00	bg
QCD_Pt-80to120_EMEnriched.root 		QCD.root 	 350000.0 	1.00	bg
QCD_Pt-120to170_EMEnriched.root 	QCD.root 	  62964.0	1.00	bg
QCD_Pt-170to300_EMEnriched.root 	QCD.root 	  18810.0 	1.00	bg
QCD_Pt-300toInf_EMEnriched.root		QCD.root	   1350.0	1.00	bg

# VBS/VBF Diboson
WpWpJJ_EWK.root								EWK_VV.root		0.02597		1.00	bg
WWJJToLNuLNu_EWK_noTop.root					EWK_VV.root		0.08872		1.00	bg
WLLJJ_WToLNu_EWK.root						EWK_VV.root		0.01628		1.00	bg
ZZJJTo4L_EWK.root							EWK_VV.root		0.00044		1.00	bg

# WW/ZZ Double parton scattering
WWTo2L2Nu_DoubleScattering.root			DPS_VV.root		0.170300		1.00	bg
ZZTo4L_TuneCP5_DoubleScattering.root 	DPS_VV.root		0.929108		1.00	bg

# Vgamma+jets
WGJJToLNu_EWK_QCD.root				V#gamma.root	 4.963		1.00	bg
LLAJJ_EWK_MLL-50_MJJ-120.root		V#gamma.root	 0.1097		1.00	bg
ZGToLLG_01J_5f.root					V#gamma.root	55.48		1.00	bg
LNuAJJ_EWK_MJJ-120.root             V#gamma.root    0.5439     1.00    bg

# VBS/VBF W&Z+jets
EWKWMinus2Jets_WToLNu_M-50.root		EWK_V.root	23.24		1.00	bg
EWKWPlus2Jets_WToLNu_M-50.root		EWK_V.root	29.59		1.00	bg
EWKZ2Jets_ZToLL_M-50.root			EWK_V.root	 4.321		1.00	bg
EWKZ2Jets_ZToNuNu.root				EWK_V.root	10.66		1.00	bg

# Higgs
VBF_HToZZTo4L_M125.root			Higgs.root		 0.0010102		1.00	bg
VBFHToBB_M-125.root				Higgs.root		 2.183			1.00	bg
GluGluHToBB_M125.root			Higgs.root		25.340			1.00	bg
GluGluHToZZTo2L2Q_M125.root		Higgs.root 		 0.1618			1.00	bg
GluGluHToZZTo4L_M125.root		Higgs.root		 0.0129763		1.00	bg
ZH_HToZZ_4LFilter_M125.root		Higgs.root		 0.0002361		1.00	bg
ZH_HToBB_ZToLL_M125.root		Higgs.root		 0.07523		1.00	bg
ttH_HToZZ_4LFilter_M125.root	Higgs.root		 0.0001355		1.00	bg

# TTBar+X
TTWJetsToLNu.root				t#bar{t}+X.root		0.2043		1.00	bg
TTWJetsToQQ.root				t#bar{t}+X.root		0.4062		1.00	bg
TTZToLLNuNu_M-10.root			t#bar{t}+X.root		0.2529		1.00	bg
TTZToQQ.root					t#bar{t}+X.root		0.5297		1.00	bg
TTGJets.root					t#bar{t}+X.root		3.6970		1.00	bg
TTTT.root						t#bar{t}+X.root		0.0090		1.00	bg			

# Triboson
WWW_4F.root 	VVV.root	0.20860		1.00	bg
WWZ_4F.root		VVV.root	0.16510		1.00	bg
WZZ.root		VVV.root	0.05565		1.00	bg
ZZZ.root		VVV.root	0.01398		1.00	bg
